.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .product-grid img {
    width: 40%;
    height: auto;
  }
  
  .product-grid .product-card {
    border: 10px solid #ddd;
    padding: 30px;
    text-align: center;
    background-color: #e2c5c5;
  }
  